<main class="container">
  <div class="containerChat">
    <ng-container *ngIf="messages[0]">
      <div *ngIf="loadResponse" class="loaderField">
        <span class="loader"></span>
      </div>
    </ng-container>
    <ng-container *ngFor="let message of messages">
      <pre
        class="chat"
        *ngIf="message.content[0].text.value"
        [ngClass]="message.role"
        innerHTML="{{ handleText(message.content[0].text.value) }}"
      ></pre>
    </ng-container>
  </div>
  <div class="whiter">
    <label for="attach">
      <img src="assets/img/attach.svg" alt="attach" />
      <input type="file" id="attach" (change)="onFileSelected($event)" />
    </label>
    <div class="fieldInput">
      <ng-container *ngIf="selectedFile">
        <div class="chat file">
          <div class="infoAttach">
            <img src="assets/img/doc.svg" alt="doc" />
            {{ selectedFile.name }}
          </div>
          <div class="progress" *ngIf="progress">
            <div class="color" [ngStyle]="{ 'width.%': progress }"></div>
          </div>
        </div>
      </ng-container>
      <input
        [(ngModel)]="newMessage"
        type="text"
        placeholder="Digite sua mensagem..."
        (keyup.enter)="onSubmit()"
      />
    </div>
    <button (click)="onSubmit()">
      <img src="assets/img/send.svg" alt="send" />
    </button>
  </div>
</main>
