:root {
  --primary-color: #bf5600;
  --primary-color-50: #fff0e4;
  --primary-color-300: #FF8826;
  --secondary-color: #ecdff0;
  --background-container: #ffffff;
  --input-background: #f1f0f5;
  --loader-background: #ffffff;
  --loader-shadow-light: #ffffff;
  --loader-shadow-dark: #bf5600;
}
* {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
}
html,
body,
app-root,
app-chat {
  background: #e3e4ec;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
